@import 'layout/sideBar';
@import 'layout/messageView';
@import 'variables/colors';
@import 'components/inputs';
@import 'components/icons';
@import 'components/spans';
@import 'components/scrollBar';

body {
    font-family: 'Inter', sans-serif;
    background-color: $mainBackgorund;
    padding-top: 20px;
    
        //margin: 0, auto;

        i {
            //feature of all icons
        }

        input {
            border-radius: 8px;
            border: none;
            resize: none;
            outline: none;
        }
        span{
            //color: $title
        }
    
}