@import '../variables/colors';
.--archiveSpan{
    margin-left: 25px;
    color: #FFF;
}

.--senderName{
    color: #FFF;
}

.--senderMessage{
    color: $placeHolder;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.--senderTime{
    color: $placeHolder;
    font-size: 12px;
    font-weight: 200;
}

.--MessageSenderName{
    margin-left: 10px;
    font-size: 15px;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.3px;
}