$mainBackgorund: #0A1014;
$headers: #202C33;
$icons: #AEBAC1;
$sideBarBg: #111B21;
$sideBarRightBorder: #2f3b42;
$archiveIcon: #00A884;
$title: #E2E6E9;
$placeHolder: #8696A0;
$sideBarItemHover: #202c33;
$scrollBarBg: #374045;


$messagesFooterBg: #202C33;
$typeMessage: #2A3942;